.menu-btn {
  position: absolute;
  z-index: 4;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #eee;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    opacity: 0.9;
    background: #222222;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(47, 47, 47, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/portrait.png);
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #ff88dc; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #ff88dc; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #eee;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #ff88dc; }

header .menu .menu-branding .portrait {
  opacity: 1; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #2f2f2f;
  color: #eee;
  height: 100%;
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden; }
    body#bg-img::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      background: rgba(47, 47, 47, 0.8); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5.5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(52, 52, 52, 0.5); }

a {
  color: #eee;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #ff88dc; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin: 1rem 0 2rem 0; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #ff88dc;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden;
    height: 100%; }
    main#home h1 {
      margin-top: 20vh;
      font-family: "Press Start 2P", sans-serif; }
  main .btn-home {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(45deg, transparent 5%, #ff88dc 5%);
    letter-spacing: 3px;
    line-height: 40px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative; }
    main .btn-home::after {
      width: 200px;
      height: 50px;
      font-size: 1.2rem;
      border: none;
      text-transform: uppercase;
      text-decoration: none;
      background: linear-gradient(45deg, transparent 5%, #ff88dc 5%);
      letter-spacing: 3px;
      line-height: 40px;
      box-shadow: 6px 0px 0px #00e6f6;
      outline: transparent;
      position: relative; }
    main .btn-home::after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -6px 0 0);
      --slice-2: inset(50% -6px 30% 0);
      --slice-3: inset(10% -6px 85% 0);
      --slice-4: inset(40% -6px 43% 0);
      --slice-5: inset(80% -6px 5% 0);
      content: "Download CV";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff88dc 5%);
      text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
      clip-path: var(--slice-0); }
    main .btn-home:hover::after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end); }

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px); }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px); }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px); }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px); }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px); }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px); }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px); }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px); }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px); }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px); }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0); } }
    main .btn-home a {
      color: black; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: #ff88dc 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.4rem; }
    .about-info .bio p {
      text-align: justify; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #3c3c3c;
    padding: 0.5rem;
    border-bottom: #ff88dc 5px solid; }
    .about-info .job div {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem; }
      .about-info .job div i {
        font-size: 5.5rem;
        padding: 10px; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #ff88dc;
      transition: all 0.5s ease-out; }
  .projects i {
    padding-right: 0.2rem; }

.boxes {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%; }
  .boxes .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .boxes .contact__options .contact__option {
      background: rgba(255, 255, 255, 0.15);
      padding: 1rem;
      border-radius: 5px;
      text-align: center;
      border: 2px solid transparent;
      margin-bottom: 1.5rem;
      transition: all 0.5s ease-out; }
      .boxes .contact__options .contact__option:hover {
        background: transparent;
        border-color: #ff88dc; }
      .boxes .contact__options .contact__option a {
        margin-top: 0.7rem;
        display: inline-block;
        font-size: 1rem; }
        .boxes .contact__options .contact__option a:hover {
          text-decoration: underline; }
      .boxes .contact__options .contact__option h5 {
        color: #ff88dc; }
    .boxes .contact__options .contact__option-icon {
      font-size: 1.5rem;
      margin-bottom: 0.5rem; }
  .boxes form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem; }
    .boxes form input,
    .boxes form textarea {
      width: 100%;
      padding: 1.5rem;
      border-radius: 0.5rem;
      background: transparent;
      border: 2px solid #ff88dc;
      resize: none;
      color: #fff;
      font-family: "Chakra Petch", Courier, monospace; }
    .boxes form .btn-contact {
      font-size: 0.9rem;
      margin-top: 0.5rem; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #ff88dc;
    color: #333; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #afafaf;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #161616;
  color: #eee;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 22px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url(../img/portrait_small.png);
      width: 150px;
      height: 150px;
      background-size: cover; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
  .boxes {
    grid-template-columns: 1fr;
    gap: 2rem; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
    font-family: "Chakra Petch", sans-serif; }
  .projects {
    grid-template-columns: 1fr; }
  #home h1.lg-heading,
  #about h1.lg-heading,
  #work h1.lg-heading,
  #contact h1.lg-heading {
    font-size: 3.8rem; }
  .btn-home a {
    font-size: 13px; }
  .menu-nav {
    font-size: 18px; }
  .about-info .bio p {
    font-size: 16px; }
  .about-info .job div i {
    font-size: 3.5rem; }
  .boxes div {
    font-size: 1rem; } }
